@import "../../common.css";

.logout-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.flex-direction{
    flex-direction: row;
}

.logout-flex .btn {
    padding: 0.8em 1.5em;
    margin: 1rem 8px;
    text-decoration: none;
}

/* Responsiveness */
@media screen and (max-width: 480px) {
    .logout-flex h2{
        font-size: 1.7rem;
    }
    .navbar-container a:nth-child(2){
        display: none;
    }
}
