@import "../../common.css";

/* Main Section */
.main {
  margin: 0 5rem;
}

.wishlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.card-vertical > button {
  margin-bottom: 8px;
}
