@import "https://ym-cl-doc-site.netlify.app/component.css";

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-areas:
    "header header"
    "aside main";
}

/* Header Section */
.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 1rem;
}

.search-bar-border {
  border: 2px solid var(--color-white);
  padding: 4px 10px;
  border-radius: 8px;
  color: var(--color-white);
}

.search-bar-input {
  width: 15rem;
  border: none;
  outline: none;
}

.m-lr-auto {
  margin: 0 auto;
}

/* Aside section */
.aside {
  grid-area: aside;
  position: sticky;
  top: 4.5rem;
  left: 0;
}

ul {
  padding: 0.5rem;
  border: 1px solid var(--color-silver);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0 var(--color-silver);
}

.aside-container {
  padding: 1rem;
}

.aside-flex {
  display: flex;
  justify-content: space-between;
}

.aside-flex button {
  height: fit-content;
}

/* Main Section */
.main {
  grid-area: main;
  margin: 0 1rem;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 1rem;
}

.card-vertical > button {
  margin-bottom: 8px;
}

/* Footer Section */
.footer {
  margin-top: auto;
  padding: 1rem;
  background-color: var(--color-green-100);
  text-align: center;
}

.social-links {
  font-size: 1.5rem;
  margin-right: 1.8rem;
  color: var(--color-black);
}
